.c-purchase-container{
    border-radius: 20px;
    box-sizing: border-box;
    border:1px solid gray;
    height:90%;
    width:70%;
    background-color: white;
    margin:auto;
    box-shadow: 1px 2px 5px  orange;

}

.big-card{
    height:20%;
    
    margin:auto;
    border:1px solid black;
    border-radius: 20px;
    box-shadow: 1px 2px 5px  grey;
    background-color: white;
}
.c-purchase-main-container{
    height: 90vh;
    display: flex;
    justify-content: center;
}

.c-purchase-header{
    color:black;
    font-size: xx-large;
    text-align: center;
    height:10%;
    border-bottom: 1px solid black;
    box-shadow: 2px 3px 5px  black;
}

.upper-card-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    margin-bottom: 2%;
    height: 100%;
    padding-top:1em;
    
}

.purchase-big-card-form-container{
    display: flex;
    
    height:90%;
    width:95%;
    margin:auto;
    border:1px solid black;
    border-radius: 20px;
    box-shadow: 1px 2px 5px  grey;
    justify-content: center;
}

.c-purchase-form{
    display: flex;
    flex-direction: column;
    font-size: x-large;    
    width:40%;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.comm-radio-btn-group{
    display: flex;
    flex-direction: row;
    font-size:medium;
    justify-content: space-evenly;
}

.c-purchase-submit{
    width: 100px;
    height:30px;
    background-color: goldenrod;
    color:white;
    border-radius: 20px;
}

.big-card-headers{
    display: flex;
    flex-direction: row;
    height:50%;  
      
    color:black;
    justify-content: space-evenly;
    align-items: center;
    font-size: x-large;
}

.big-card-header-values{
    
    display: flex;
    flex-direction: row;
    height:50%; 
    
    color:black;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;

}

.past-orders-header{
    color:black;
    background-color: white;
    font-size: xx-large;
    text-align: center;
    height:10%;
    border-bottom: 1px solid black;
    box-shadow: 2px 3px 5px  black;
}
.past-orders-list{
   
    height:100%;
}
.error{
    color:red;
}

