

/*
 * Box styling for the dashboard container that contains the buttons for client functions
*/
.client-dashboard-container{
    border-radius: 20px;
    box-sizing: border-box;
    border:1px solid gray;
    height:70%;
    width:70%;
    background-color: white;
    margin:auto;
    box-shadow: 1px 2px 5px  orange;
}

.client-dashboard-main{
    height: 90vh;
    display: flex;
    justify-content: center;
}

.client-dashboard-header{
    color:black;
    font-size: xx-large;
    text-align: center;
    height:10%;
    border-bottom: 1px solid black;
}