/*
 * Rule set for the home container
*/

.home-container{
    background-image: url('../assets/bitcoin_hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

/*
 * Rule set for the title of the home page
*/
.home-header{
    font-size: xx-large;
    text-align: center;
    padding-left: 30%;
    color:white;
    padding-top:2%;
    font-family:monospace;
}

/*
 * Rule set for the main section of text

*/
.main-text{
    font-family: monospace;
    text-align: center;
    color:white;
    padding-left:50%;
    padding-top:1%;
    width: 30%;
    font-size: x-large;
}


@media screen and (max-width: 800px) {
  .main-text {
    
    margin:auto;
   
    width:100%;
    padding-left:0%;
    padding-top:4%;
    
    
    
  }
  .home-header{
    
    
    padding-left:0%;
    padding-top:10%;
  }

  .home-container{
    background-image: none;
   
       
  }

  .mobile-hero-banner{
    background-image: url('../assets/bitcoin_head_small.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:contain;
    height: 70vh;
    border-radius: 20px;
    border:1px solid rgba(255,255,255,0.7);
    
    
  }
}