.home-container{
    background-image: url('../assets/bitcoin_hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}