.cancel-card{
    height:50%;
    width:20%;
    
    border:1px solid black;
    border-radius: 20px;
    box-shadow: 1px 2px 5px  grey;
    text-align: center;
    padding-bottom: 1em;
    
}

.cancel-card h2{
    font-weight: bolder;
}


@media screen and (max-width:600px){
    .cancel-card{
        width:30%;
    }
    
}