.client-search-container{
    border-radius: 20px;
    box-sizing: border-box;
    border:1px solid gray;
    height:90%;
    width:70%;
    background-color: white;
    margin:auto;
    box-shadow: 1px 2px 5px  orange;
}

.client-search-main{
    height: 90vh;
    display: flex;
    justify-content: center;
}

.client-search-header{
    color:black;
    font-size: xx-large;
    text-align: center;
    height:10%;
    border-bottom: 1px solid black;
    box-shadow: 2px 3px 5px  black;
}