.client-search-container{
    border-radius: 20px;
    box-sizing: border-box;
    border:1px solid gray;
    height:90%;
    width:70%;
    background-color: white;
    margin:auto;
    box-shadow: 1px 2px 5px  orange;
}

.client-search-main{
    height: 90vh;
    display: flex;
    justify-content: center;
}

.client-search-header{
    color:black;
    font-size: xx-large;
    text-align: center;
    height:10%;
    border-bottom: 1px solid black;
    box-shadow: 2px 3px 5px  black;
}

.client-search-input-group{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height:90%;
    margin:auto;    
    width:50%;
    
}



.client-search-form{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    height:20em;   
    width:80%;
    margin:auto;
    
}

.input-group-labels{
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;   
}

.input-group-txt-bxs{
    display: flex;
    flex-direction: column;
    row-gap: 1em;    
    height:35%;
}

.btn-c-search{
    width: 100px;
    height:30px;
    background-color: goldenrod;
    color:white;
    border-radius: 20px;
    margin: auto;
}

.error{
    color:red;
}

@media screen and (max-width:600px){
    .client-search-header{
        min-height: 2em;
    }

    .input-group-txt-bxs{
        min-width:6em;
        row-gap: 1.5em;

    }
    .input-group-labels{
        row-gap: 1em;
        min-height: 5em;
    }

    .client-search-input-group{
        min-width:10em;
    }
}