.found-client-container{
    border-radius: 20px;
    box-sizing: border-box;
    border:1px solid gray;
    height:90%;
    width:70%;
    background-color: white;
    margin:auto;
    box-shadow: 1px 2px 5px  orange;
}

.found-client-main{
    height: 90vh;
    display: flex;
    justify-content: center;
}

.found-client-header{
    color:black;
    font-size: xx-large;
    text-align: center;
    height:10%;
    border-bottom: 1px solid black;
    box-shadow: 2px 3px 5px  black;
}


.upper-card-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin-bottom: 2%;
    height: 60%;
    
}

.big-card{
    height:20%;
    width:90%;
    margin:auto;
    border:1px solid black;
    border-radius: 20px;
     box-shadow: 1px 2px 5px  grey;
    
}

.lower-card-group{
    display: flex;
    flex-direction: row;
    
    justify-content: space-evenly;
    
    height:30%;
    

}

.small-card{
    display: flex;
    flex-direction: column;
    border:1px solid black;
    border-radius: 20px;
    width:20%;
    height:50%;
    justify-content: center;
    align-items: center;
     box-shadow: 1px 2px 5px  grey;
   
    
}


.big-card-headers{
    display: flex;
    flex-direction: row;
    height:50%;    
    width:85%;
    color:black;
    justify-content: space-evenly;
    align-items: center;
    font-size: x-large;
}

.big-card-header-values{
    
    display: flex;
    flex-direction: row;
    height:50%;    
    
    color:black;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;

}

.btn-t-buy{
    height: 100%;
    width: 100%;
}

.btn-t-sell{
    height: 100%;
    width: 100%;
}
