.t-sell-container{
    border-radius: 20px;
    box-sizing: border-box;
    border:1px solid gray;
    height:90%;
    width:70%;
    background-color: white;
    margin:auto;
    box-shadow: 1px 2px 5px  orange;
}

.t-sell-main{
    height: 90vh;
    display: flex;
    justify-content: center;
}

.t-sell-header{
    color:black;
    font-size: xx-large;
    text-align: center;
    height:10%;
    border-bottom: 1px solid black;
    box-shadow: 2px 3px 5px  black;
}

.t-sell-upper-card-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    margin-bottom: 2%;
    height: 80%;
    padding-top:1em;
    
}

.purchase-big-card-form-container{
    display: flex;
    
    height:90%;
    width:95%;
    margin:auto;
    border:1px solid black;
    border-radius: 20px;
    box-shadow: 1px 2px 5px  grey;
    justify-content: center;
}
.purchase-form{
    display: flex;
    flex-direction: column;
    font-size: x-large;    
    width:40%;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}